<ion-header>
  <ion-toolbar>
    <ion-title>Your Information</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile" routerDirection="forward">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label floating> Enter your height (cm) </ion-label>
    <ion-input [(ngModel)]="height" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating> Enter your weight (kg) </ion-label>
    <ion-input [(ngModel)]="weight" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating> Enter your age </ion-label>
    <ion-input [(ngModel)]="age" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-select [(ngModel)]="gender" placeholder="Gender">
      <ion-select-option *ngFor="let gender of genderList" [value]="gender.value">{{gender.label}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Activity level</ion-label>
    <ion-select [(ngModel)]="activityLevel" placeholder="Activity Level of Person">
      <ion-select-option *ngFor="let activity of activityLevelList" [value]="activity.value">{{activity.label}}</ion-select-option>
    </ion-select>
  </ion-item>

  <div padding>
    <button block ion-button (click)="saveAndCalculate()">Calculate</button>
  </div>

  <ion-card *ngIf="bmiValue > 0">
    <ion-card-header>
      BMI Calculation
    </ion-card-header>
    <ion-card-content>
      <p>Person: Weight {{weight}} kg, Height {{height}} cm</p>
      <p>BMI: {{bmiValue}}</p>
      <p><strong>You are {{bmiMessage}}</strong></p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="bmrValue > 0">
    <ion-card-header>
      BMR Calculation
    </ion-card-header>
    <ion-card-content>
      <p>Person: Weight {{weight}} kg, Height {{height}} cm</p>
      <p>BMR: {{bmrValue}}</p>
      <p><strong>You need more than {{bmrValue}} if want to gain weight</strong></p>
      <p><strong>You need consistent value {{bmrValue}} if want to maintain weight</strong></p>
      <p><strong>You need less than {{bmrValue}} if want to lose weight</strong></p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="dailyCalories > 0">
    <ion-card-header>
      Daily Calories Needed
    </ion-card-header>
    <ion-card-content>
      <p><strong>{{dailyCalories}}</strong></p>
    </ion-card-content>
  </ion-card>
</ion-content>
